name: unit-tests
run-name:$ {{ GITHUB_REF }} - ${{ GITHUB_SHA }}
on: [push]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
      - uses: BSFishy/meson-build@v1.0.3
        with:
          action: test
