name: unit-tests
run-name: ${{ github.ref }} - ${{ github.sha }}
on: [push]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
      - uses: BSFishy/meson-build@v1.0.3
        with:
          action: test
      - name: archive unit test results
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-report
          path: build/meson-logs/testlog.txt
